.miniCardBack {
    border-radius: .5rem;
    width: 4.5rem;
    height: 6rem;
    object-fit: cover;
    object-position: center;
    transition: all ease .2s;
}

.miniCardBack.selected {
    transform: scale(1.1);
    z-index: 4;
    box-shadow: 0 0 5px transparentize(black, .4);
}