<div class="actionable">
  <div class="selector-bar">
    <i class="mdi mdi-chevron-left back-icon"></i>
    <span class="label">Join an existing room</span>
    <i class="mdi mdi-chevron-right forward-icon"></i>
  </div>
  <div class="content">
    <app-create-room></app-create-room>
  </div>
</div>
<div class="actionable">
  <div class="selector-bar">
    <i class="mdi mdi-chevron-left back-icon"></i>
    <span class="label">Create a new room</span>
    <i class="mdi mdi-chevron-right forward-icon"></i>
  </div>
  <div class="content">
    <app-create-room></app-create-room>
  </div>
</div>