<div class="join-container" *ngIf="exists">
  <small>You are joining</small>
  <h2 *ngIf="room?.name">{{room?.name}}</h2>
  <h6 *ngIf="room?.tagLine">{{room?.tagLine}}</h6>
  <div class="info-list">
    <div *ngIf="room?.deck?.name">
      <span class="mdi mdi-cards"></span>
      {{room?.deck?.name}}
    </div>
    <div *ngIf="room?.users">
      <span class="mdi mdi-account-multiple"></span>
      {{room?.users?.length}} {{room?.users?.length == 1 ? 'participant' : 'participants'}}
    </div>
  </div>
</div>
<div *ngIf="exists === false">
  We couldn't find this room
</div>
<div class="d-flex justify-content-center align-items-center" *ngIf="exists === null">
  <span class="text-primary mdi mdi-loading mdi-48px mdi-spin"></span>
</div>
