<div class="d-flex flex-column align-items-center justify-content-center" *ngIf="exists">
  <div class="small">You are joining</div>
  <h2 *ngIf="room?.name">{{room?.name}}</h2>
  <h6 *ngIf="room?.tagLine">{{room?.tagLine}}</h6>
  <div class="d-flex justify-content-around col-md-6 col-lg-4 text-muted">
    <div *ngIf="room?.deck?.name" class="mr-2">
      <span class="mdi mdi-cards"></span>
      {{room?.deck?.name}}
    </div>
    <div *ngIf="room?.users" class="ml-2">
      <span class="mdi mdi-account-multiple"></span>
      {{room?.users?.length}} user(s)
    </div>
  </div>
</div>
<div *ngIf="exists === false">
  We couldn't find this room
</div>
<div class="d-flex justify-content-center align-items-center" *ngIf="exists === null">
  <span class="text-primary mdi mdi-loading mdi-48px mdi-spin"></span>
</div>