<div class="bg-light text-muted py-3">
  <div class="container">
    <div class="d-flex flex-row justify-content-around flex-wrap">
      <div *ngFor="let u of users" class="d-flex flex-column align-items-center">
        <div class="h5 mb-0">
          <i *ngIf="!u.currentCardId" class="mdi mdi-checkbox-blank-circle-outline" [class.text-danger]="getRemainingUsers() == 1"></i>
          <i *ngIf="u.currentCardId" class="mdi mdi-checkbox-marked-circle mdi text-success"></i>
        </div>
        <div>
          <i *ngIf="u.isHost" class="mdi mdi-crown"></i>
          {{u.displayName}}
        </div>
      </div>
    </div>
  </div>
</div>
