@import './theme/variables';

:root {
  --primary-color: #{$theme-dark-primary};
  --accent-color: #{$theme-dark-accent};
  --contrast-color: #{$theme-dark-contrast};
  --hover-color: #{transparentize(white, 0.9)};
  --font-family: #{$theme-dark-font};
}

* {
  font-family: var(--font-family);
  color: var(--contrast-color);
}

.full-height {
  min-height: 100vh;
}

.click-none {
  pointer-events: none !important;
}

.click-normal {
  pointer-events: initial;
}

.pointer-hand {
  cursor: pointer;
}

.translucent {
  opacity: 0.3;
}

.invalid-feedback,
.valid-feedback {
  display: initial;
  animation: fallDown 0.4s ease forwards;
}

@keyframes fallDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
}