@import "./theme/variables";
@import "./theme/forms";
@import "./theme/flex";

* {
  font-family: var(--font-family);
  color: var(--contrast-color);
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.full-height {
  min-height: 100vh;
}

.click-none {
  pointer-events: none !important;
}

.click-normal {
  pointer-events: initial;
}

.pointer-hand {
  cursor: pointer;
}

.translucent {
  opacity: 0.3;
}

.d-none {
  display: none;
}

body {
  margin: 0;
  background-color: var(--primary-color);
}

.container {
  padding-left: $some;
  padding-right: $some;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
