<form class="d-flex flex-column align-items-center" (submit)="join()" [formGroup]="form">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label for="name" class="input-group-text">Your Name</label>
    </div>
    <input class="form-control" type="text" name="name" formControlName="name">
    <div *ngIf="(submitAttempted || form.get('name').touched) && form.get('name').hasError('required')"
      class="invalid-feedback">
      Name is required.
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap mb-3">
    <img (click)="setEmblem(e.id)" [class.selected]="form.get('emblemId').value == e.id" *ngFor="let e of emblems"
      [src]="getEmblemUrl(e.id)" class="miniCardBack m-2">
  </div>
  <div *ngIf="submitAttempted && form.get('emblemId').hasError('required')" class="invalid-feedback">Select a card.
  </div>

  <button class="btn btn-primary btn-lg" [class.btn-primary]="form.valid" [class.btn-outline-secondary]="!form.valid"
    type="submit">
    Join
  </button>
</form>