$theme-dark-primary: #353749;
$theme-dark-accent: #53577D;
$theme-dark-contrast: white;
$theme-dark-font: 'Open Sans',
sans-serif;

$theme-light-primary: #E9E9E9;
$theme-light-accent: #9FA2C2;
$theme-light-contrast: #353749;
$theme-light-font: 'Open Sans',
sans-serif;

$thicc: 24px;