$theme-dark-primary: #353749;
$theme-dark-accent: #53577D;
$theme-dark-contrast: white;
$theme-dark-font: 'Open Sans',
sans-serif;

$thinn: 1px;
$realslim:2px;
$slim: 4px;
$mid: 8px;
$some: 12px;
$thicc: 24px;