.miniCard {
  width: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.card-in {
  animation-name: slideLeft;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: scale(0.8) translateX(125%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
