<form (submit)="createRoom()" [formGroup]="form">

  <div class="mb-3">
    <div class="input-group">
      <input class="form-control" [class.is-valid]="form.get('roomId').valid && isAvailable"
        [class.is-invalid]="(submitAttempted || form.get('roomId').touched) && (!form.get('roomId').valid || !isAvailable)"
        name="id" type="number" required formControlName="roomId">
      <label for="id" class="floating-label">Room Number</label>
      <div *ngIf="isAvailable==true && form.get('roomId').value" class="valid-feedback helper">
        <i class="mdi mdi-check"></i>
        This room is available. </div>
      <div *ngIf="isAvailable==false && form.get('roomId').value" class="invalid-feedback helper">
        <i class="mdi mdi-close"></i>
        This room is taken.
        <a class="pointer-hand" (click)="join()">Join it</a>
      </div>
      <div *ngIf="(submitAttempted || form.get('roomId').touched) && form.get('roomId').hasError('required')"
        class="invalid-feedback helper">
        <i class="mdi mdi-close"></i>
        Room Number is required.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <input class="form-control" type="text" name="name" formControlName="name"
        [class.is-valid]="form.get('name').valid"
        [class.is-invalid]="(submitAttempted || form.get('name').touched) && !form.get('name').valid" required>
      <label for="name" class="floating-label">Room Name</label>
      <div *ngIf="(submitAttempted || form.get('name').touched) && form.get('name').hasError('required')"
        class="invalid-feedback helper">
        <i class="mdi mdi-close"></i>
        Room Name is required.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <input class="form-control" type="text" name="tagline" formControlName="tagline" required>
      <label for="tagline" class="floating-label">Initial Topic</label>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <select class="form-control" name="deck" formControlName="deck" [class.is-valid]="form.get('deck').valid"
        [class.is-invalid]="(submitAttempted || form.get('deck').touched) && !form.get('deck').valid" required>
        <option *ngFor="let d of decks" [value]="d.id">{{d.name}}</option>
      </select>
      <label for="deck" class="floating-label">Deck</label>
      <div *ngIf="(submitAttempted || form.get('deck').touched) && form.get('deck').hasError('required')"
        class="invalid-feedback helper">
        <i class="mdi mdi-close"></i>
        Deck is required.
      </div>
    </div>
  </div>

  <div *ngIf="getSelectedDeck()" class="mb-3">
    <div class="mb-2 small" *ngIf="getSelectedDeck()?.description">
      {{getSelectedDeck()?.description}}
    </div>
    <div class="d-flex flex-row flex-wrap">
      <span class="miniCard card m-1 card-in" *ngFor="let c of getSelectedDeck()?.cards; let i = index"
        [ngStyle]="getDelayStyle(i)">
        {{c.name}}
      </span>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-end">
    <button type="submit" [class.disabled]="!form.valid || !isAvailable">
      Create Room
    </button>
  </div>
</form>
