@import "../../../theme/variables";

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  left: 50%;
  transform: translateX(-50%);
  animation: slide-up forwards 1s ease;

  & > .card {
    font-size: 1.4rem;
    min-width: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    transition: font-size 0.2s ease;
    border: $thinn solid var(--accent-color);
    border-radius: $slim;
    cursor: pointer;
    margin: $mid;

    &.selected {
      font-size: 2rem;
    }
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
