<div class="landing-container">
  <div class="promo-pane">
    <div class="cards">
      <div class="card pos-a"></div>
      <div class="card pos-b"></div>
      <div class="card pos-c"></div>
    </div>
    <div class="promo-text">
      <div class="spacer"></div>
      <div class="content">
        <h1>Plan your heart out.</h1>
        <p>Created by Alex Griffith, powered by SignalR</p>
      </div>
    </div>
  </div>
  <div class="content-pane">
    <app-entryway></app-entryway>
  </div>
</div>