<div *ngIf="!isInvalid">
  <div class="full-height enter-form" *ngIf="!isInGame">
    <div class="contained bg-feather-mask">
      <app-room-info class="mb-3" [roomId]="roomId" (roomError)="onRoomError()"></app-room-info>
      <app-join-room [roomId]="roomId" (joined)="onJoined()"></app-join-room>
    </div>
    <app-background-cards class="bg-underlay" *ngIf="room && room.deck && room.deck.cards" [cards]="room.deck.cards">
    </app-background-cards>
  </div>
  <div *ngIf="isInGame">
    <app-roster></app-roster>
    <app-host-controls></app-host-controls>
    <app-playfield></app-playfield>
    <app-card-list [cards]="room?.deck?.cards"></app-card-list>
  </div>
</div>
<div class="invalid-container" *ngIf="isInvalid">
  <h4>Room not found 😢</h4>
  <div>
    <button role="button" (click)="reload()" class="btn">
      Try Again
    </button>
    <button role="button" routerLink="/" class="btn">
      Go Home
    </button>
  </div>
</div>
<app-confetti></app-confetti>
