.cardScene {
  perspective: 1200px;
}

.playCard {
  width: 160px;
  height: 220px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 5px;
  overflow: hidden;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  //backface-visibility: hidden;
}

.card-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-face-front {
  opacity: 1;
}

.card-face-back {
  opacity: 0;
  transform: rotateY(180deg);
}

.card-flipped {
  animation: flipCard 1s ease forwards;

  .card-face-front {
    animation: crossFadeOut 1s ease forwards;
  }

  .card-face-back {
    animation: crossFadeIn 1s ease forwards;
  }
}

@keyframes flipCard {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes crossFadeIn {

  0%,
  40% {
    opacity: 0;
  }

  60%,
  100% {
    opacity: 1;
  }
}

@keyframes crossFadeOut {

  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}
