<div class="container">
  <div class="d-flex flex-row flex-wrap cardScene">
    <div class="d-flex flex-column align-items-center m-3" *ngFor="let u of getActiveCards()">
      <div class="playCard" [class.card-flipped]="isRevealed">
        <div class="card-face card-face-front rounded">
          <img class="card-back" [src]="getEmblemUrl(u.emblemId)">
        </div>
        <div class="card-face card-face-back d-flex justify-content-center align-items-center bg-light text-muted border rounded">
          <span class="display-4">{{u.currentCard?.name}}</span>
        </div>
      </div>
      <span>{{u.displayName}}</span>
    </div>
  </div>
</div>
