@import "../../../theme/variables";

.cardScene {
  perspective: 500px;
  margin-top: 24px;
}

.cardholder {
  display: flex;
  flex-direction: column;
  margin: $some;
  align-items: center;
  text-align: center;

  .card--aligner {
    width: 160px;
    height: 220px;
  }
}

.overlayCardScene {
  perspective: 500px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.card--label {
  margin-top: 20px;
}
