@import "../../../theme/variables";

.cardScene {
  perspective: 500px;
  margin-top: 80px;
}

.cardholder {
  display: flex;
  flex-direction: column;
  margin: $mid;
  align-items: center;
  text-align: center;

  .card--aligner {
    width: 160px;
    height: 220px;
    background-color: transparentize($color: white, $amount: 0.8);
  }
}

.overlayCardScene {
  perspective: 500px;
}
